<h1>How to play</h1>
<p>The rules are simple:
3 hands to choose from - Rock, Paper or Sissors. Rock beats Sissors as it will blunt them.
Sissors beat paper as they can cut it. Paper beats Rock as it can cover it.
2 players, each reveals their choosen hand at exactly the same time - NO CHANGING!!
The winner is declared. Excellent game for deciding who should see what the kids are upto ;-)</p>
